<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Parent_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-parent_id" data-rule="required" data-source="parent/index" class="form-control selectpage" name="row[parent_id]" type="text" value="{$row.parent_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cpx_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cpx_id" data-rule="required" data-source="cpx/index" class="form-control selectpage" name="row[cpx_id]" type="text" value="{$row.cpx_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shiyebu_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shiyebu_id" data-rule="required" data-source="shiyebu/index" class="form-control selectpage" name="row[shiyebu_id]" type="text" value="{$row.shiyebu_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Gstype_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-gstype_id" data-rule="required" data-source="gstype/index" class="form-control selectpage" name="row[gstype_id]" type="text" value="{$row.gstype_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zzjg_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zzjg_id" data-rule="required" data-source="zzjg/index" class="form-control selectpage" name="row[zzjg_id]" type="text" value="{$row.zzjg_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Xmtype_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-xmtype_id" data-rule="required" data-source="xmtype/index" class="form-control selectpage" name="row[xmtype_id]" type="text" value="{$row.xmtype_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Htbh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-htbh" data-rule="required" class="form-control" name="row[htbh]" type="text" value="{$row.htbh}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Crmbh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-crmbh" class="form-control" name="row[crmbh]" type="text" value="{$row.crmbh}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Htriqi')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-htriqi" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[htriqi]" type="text" value="{$row.htriqi}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Htjine')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-htJinE" data-rule="required" class="form-control" name="row[htJinE]" type="number" value="{$row.htJinE}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Xiaoshou_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-xiaoShou_id" data-rule="required" data-source="xiaoShou/index" class="form-control selectpage" name="row[xiaoShou_id]" type="text" value="{$row.xiaoShou_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Gongchengshi_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-gongChengShi_id" data-rule="required" data-source="gongChengShi/index" class="form-control selectpage" name="row[gongChengShi_id]" type="text" value="{$row.gongChengShi_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Xiangmujingli_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-xiangMuJingLi_id" data-rule="required" data-source="xiangMuJingLi/index" class="form-control selectpage" name="row[xiangMuJingLi_id]" type="text" value="{$row.xiangMuJingLi_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kehu_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-kehu_id" data-rule="required" data-source="kehu/index" class="form-control selectpage" name="row[kehu_id]" type="text" value="{$row.kehu_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kehulianxiren')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-kehuLianXiRen" class="form-control" name="row[kehuLianXiRen]" type="number" value="{$row.kehuLianXiRen}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kehulianxirentel')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-kehuLianXiRenTel" class="form-control" name="row[kehuLianXiRenTel]" type="number" value="{$row.kehuLianXiRenTel}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Xmnr')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-xmnr" class="form-control" name="row[xmnr]" type="text" value="{$row.xmnr}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tag')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tag" class="form-control" name="row[tag]" type="text" value="{$row.tag}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" class="form-control" name="row[weigh]" type="number" value="{$row.weigh}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Deletetime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-deletetime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[deletetime]" type="text" value="{$row.deletetime|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-remark" class="form-control" name="row[remark]" type="text" value="{$row.remark}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Description')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-description" class="form-control" name="row[description]" type="text" value="{$row.description}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
